body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: rgb(6, 130, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 4rem;
}

.title {
    margin: 0;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
    list-style: none;
}

.navbar li:last-child {
    margin-right: 0;
}
